<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recommendations</title>
    <meta charset="UTF-8">
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Cqt-U1lg2Iw-tGC98eaS1asohQYADSM&callback=initMap"
        defer
></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function initMap() {
        const mapOptions = {
            center: new google.maps.LatLng([[${currentLat}]], [[${currentLng}]]),
            zoom: 16
        }
        const map = new google.maps.Map(document.getElementById("map"), mapOptions);

        const markerList = [[${markerList}]];
        for (let i = 0; i < markerList.length; i++) {
            const marker = new google.maps.Marker({
                title: markerList[i]["productName"],
                content: "$" + markerList[i]["price"],
                position: new google.maps.LatLng(markerList[i]["lat"], markerList[i]["lng"]),
                map: map,
            });
            const contentString =
                '<div id="content">' +
                '<div id="siteNotice">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading">' + markerList[i]["productName"] + '</h1>' +
                '<div id="bodyContent">' +
                "<p><b>Price: $</b>" + markerList[i]["price"] + "</p>" +
                "</div>" +
                "</div>";

            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            });
        }
        /*]]>*/
    }
</script>
</body>
</html>